// group-switch.module.scss
.switch {
  display: inline-flex;
  align-items: center;
  justify-content: flex-start;
  width: 42px;
  height: 22px;
  padding: 2px;
  background-color: #ebebeb;
  border-radius: 20px;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;

  &.checked {
    background-color: #69a7e4;
    justify-content: flex-end;
  }

  .indicator {
    width: 18px;
    height: 18px;
    background-color: #fdfdfd;
    border-radius: 50%;
    transition: transform 0.2s ease-in-out;
  }
}
