node_modules
.next
build
dist
.husky
.prettierrc
.prettierignore
.eslintignore
.eslintrc
.eslintignore
.eslintrc
.prettierrc
.prettierignore
.eslintignore
.eslintrc
.prettierrc
.prettierignore
.eslintignore
.eslintrc
.prettierrc
.prettierignore
.eslintignore
.eslintrc