.container {
  width: 100%;
  height: 100%;
  padding: 30px;
  display: flex;
  flex-direction: column;
  gap: 24px;

  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 10px;

    .registerButton {
      padding: 8px 15px;
      background: #69a7e4;
      box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.25);
      border-radius: 10px;
      text-transform: none;
      color: #fdfdfd;
      font-size: 14px;
      font-weight: 400;
      line-height: 14px;
      display: flex;
      gap: 5px;

      &:hover {
        background: #69a7e4;
      }
    }
  }

  .searchContainer {
    padding: 16px 20px;
    background: #fdfdfd;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    border: 1px solid #ebebeb;

    .searchFields {
      display: flex;
      gap: 16px;

      .searchField {
        flex: 1;
        display: flex;
        flex-direction: column;
        gap: 16px;

        .label {
          color: #424242;
          font-size: 14px;
          font-weight: 500;
          line-height: 14px;
        }

        .inputWrapper {
          display: flex;
          align-items: center;
          padding: 6px 15px;
          background: #fdfdfd;
          box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.25);
          border-radius: 10px;
          border: 1px solid #ebebeb;

          input {
            flex: 1;
            border: none;
            outline: none;
            color: #878787;
            font-size: 14px;
            font-weight: 400;
            line-height: 14px;

            &::placeholder {
              color: #878787;
            }
          }
        }
      }
    }
  }

  .table {
    flex: 1;
    display: flex;
    flex-direction: column;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    overflow: hidden;

    .tableHead {
      display: flex;
      padding: 20px;
      background: #fdfdfd;
      border: 1px solid #ebebeb;

      .cell {
        color: #424242;
        font-size: 14px;
        font-weight: 700;
        line-height: 14px;

        &:nth-child(1) {
          width: 100px;
        }
        &:nth-child(2) {
          width: 90px;
        }
        &:nth-child(3) {
          width: 365px;
        }
        &:nth-child(4) {
          width: 365px;
        }
        &:nth-child(5) {
          width: 150px;
        }
        &:nth-child(6) {
          width: 150px;
        }
        &:nth-child(7) {
          width: 200px;
        }
        &:nth-child(8) {
          width: 120px;
        }
      }
    }

    .tableBody {
      .tableRow {
        display: flex;
        padding: 20px;
        background: #fdfdfd;
        border: 1px solid #ebebeb;
        border-top: none;

        .cell {
          color: #424242;
          font-size: 14px;
          font-weight: 400;
          line-height: 14px;

          &:nth-child(1) {
            width: 100px;
          }
          &:nth-child(2) {
            width: 90px;
          }
          &:nth-child(3) {
            width: 365px;
          }
          &:nth-child(4) {
            width: 365px;
          }
          &:nth-child(5) {
            width: 150px;
          }
          &:nth-child(6) {
            width: 150px;
          }
          &:nth-child(7) {
            width: 200px;
          }
          &:nth-child(8) {
            width: 120px;
          }
        }
      }
    }
  }

  .footer {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .downloadButton {
      padding: 5px 15px;
      background: #fdfdfd;
      box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.25);
      border-radius: 10px;
      border: 1px solid #878787;
      color: #424242;
      text-transform: none;
      font-size: 14px;
      font-weight: 400;
      display: flex;
      gap: 5px;

      &:hover {
        background: #fdfdfd;
      }
    }

    .count {
      padding: 8px 15px;
      background: #dcdcdc;
      border-radius: 30px;
      color: #424242;
      font-size: 14px;
      font-weight: 500;
      line-height: 14px;
    }
  }
}

.dropdown {
  display: flex;
  flex-direction: column;
  gap: 16px;

  .select {
    height: 32px;
    padding: 8px 15px;
    background: #fdfdfd;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    border: 1px solid #ebebeb;
    color: #424242;
    font-size: 14px;
    font-weight: 400;
    line-height: 14px;
    text-transform: none;
    justify-content: space-between;
    min-width: 150px;

    &:hover {
      background: #fdfdfd;
    }
  }
}

.pagination {
  display: flex;
  align-items: center;
  gap: 24px;

  .pageControl {
    display: flex;
    gap: 6px;

    .controlButton {
      width: 24px;
      height: 24px;
      padding: 0;
      min-width: unset;
      background: #fdfdfd;
      border-radius: 8px;
      border: 1px solid #ebebeb;
      color: #424242;
      font-size: 12px;

      &:hover {
        background: #fdfdfd;
      }
    }
  }

  .pageNumbers {
    display: flex;
    gap: 10px;

    .pageNumber {
      width: 24px;
      height: 24px;
      padding: 0;
      min-width: unset;
      background: #fdfdfd;
      border-radius: 8px;
      border: 1px solid #ebebeb;
      color: #424242;
      font-size: 12px;

      &:hover {
        background: #fdfdfd;
      }

      &.active {
        background: #878787;
        color: white;
        border: none;

        &:hover {
          background: #878787;
        }
      }
    }
  }
}
